<!DOCTYPE html>
<html ng-app="basicApp" ng-init=" title= 'BOOK' ">

<head>
    <title>{{title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="basic/styles.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>-->
    <script>window.angular || document.write('<script src="angular.js"><\/script>');</script>
</head>

<body>


<div ng-controller="PeopleController">
<center><button ng-click="ShowForm()" ng-hide="formVisibility"> Add Contact</button></center>
<div class="wrapper">
    <div class="contact-item" ng-repeat="person in people">
        <div class="name">{{person.name}} - {{person.phone}}
        <span ng-click="RemoveElem($index)" class="glyphicon glyphicon-remove pull-right"> </span>
        </div>
        <span class="city">{{person.city}} </span>
    </div>
</div>
<br/>

<div ng-show="formVisibility" class="wrapper">
    <h2>Add a Contact</h2>
    <div class="name">Name:</div> <input class="form-control" type="text" ng-model="newPerson.name">
    <div class="name">Phone:</div><input class="form-control" type="text" ng-model="newPerson.phone">
    <div class="name">City:</div><input class="form-control" type="text" ng-model="newPerson.city">
    <center><button ng-click="AddElem()" class="btn btn-primary btn-block" >Save</button></center>
</div>
</div>

<div ng-controller="DebugController">
<center><button ng-click="ShowDebug()" class="btn btn-danger btn-block" > Debug</button></center>
<div ng-show="debugVisibility" class="container">
    <div class="well well-small">
    {{thing}}
    </div>
</div>
</div>


<script src= " basic/basic.js" type="text/javascript"></script>
<script>
      var loadTime = document.createElement('div');
      loadTime.textContent = 'loaded: ' + new Date();
      loadTime.style.color = 'blue';
      document.body.appendChild(loadTime);
    </script>
</body>
</html>
